Repository PrefectHQ/marvin, pull requests merged in 2023-04, with the labels that each got.

#164 Add streaming response support
  docs/guide/concepts/bots.md
  src/marvin/bots/base.py
  src/marvin/bots_lab/utilities.py
  src/marvin/cli/cli.py
  src/marvin/utilities/__init__.py
  src/marvin/utilities/llms.py
  src/marvin/utilities/tests.py
  tests/llm_tests/bots/test_bots.py
Labels: feature

#167 Add support for async streaming callbacks
  docs/guide/concepts/bots.md
  src/marvin/utilities/llms.py
  tests/llm_tests/bots/test_bots.py
Labels: enhancement

#176 Ensure ai fns can use plugins
  src/marvin/ai_functions.py
Labels: fix

#177 Support configurable max tokens
  src/marvin/config.py
  src/marvin/utilities/llms.py
Labels: enhancement

#182 Add the ChatTUI
  README.md
  docs/getting_started/bots_quickstart.md
  docs/getting_started/chat_quickstart.md
  docs/guide/concepts/bots.md
  docs/guide/concepts/plugins.md
  docs/guide/concepts/tui.md
  docs/guide/introduction/cli.md
  docs/img/tui/bots_selection.png
  docs/img/tui/colorful_fruit.png
  docs/img/tui/first_message.png
  docs/img/tui/message_edit_mode.png
  docs/img/tui/settings.png
  docs/img/tui/star_wars.png
  docs/img/tui/startup.png
  docs/index.md
  examples/end-to-end-bot-setup.md
  mkdocs.yml
  pyproject.toml
  src/marvin/__init__.py
  src/marvin/api/bots.py
  src/marvin/api/threads.py
  src/marvin/api/topics.py
  src/marvin/bot/base.py
  src/marvin/bot/history.py
  src/marvin/bot/response_formatters.py
  src/marvin/bots/__init__.py
  src/marvin/bots/assistants.py
  src/marvin/bots/fun.py
  src/marvin/bots/jobs.py
  src/marvin/bots/meta.py
  src/marvin/cli/bots.py
  src/marvin/cli/cli.py
  src/marvin/cli/database.py
  src/marvin/cli/tui.css
  src/marvin/cli/tui.py
  src/marvin/config.py
  src/marvin/infra/database.py
  src/marvin/models/bots.py
  src/marvin/models/threads.py
  src/marvin/utilities/async_utils.py
  src/marvin/utilities/llms.py
  src/marvin/utilities/strings.py
  src/marvin/utilities/types.py
  tests/bots/test_bots.py
  tests/llm_tests/bots/test_ai_functions.py
Labels: feature

#186 Ensure the bots window has a scrollbar if needed
  src/marvin/cli/tui.css
  src/marvin/cli/tui.py
Labels: fix

#192 Ensure async streaming functions are called
  src/marvin/cli/tui.py
  src/marvin/utilities/llms.py
Labels: fix

#194 Bots docs clarifications and enhancements
  docs/guide/concepts/bots.md
  docs/guide/concepts/loaders_and_documents.md
Labels: documentation

#115 Slackbot
  docs/guide/concepts/loaders_and_documents.md
  docs/guide/use_cases/slackbot.md
  docs/img/slackbot/convo.png
  docs/img/slackbot/eventsub.png
  examples/load_prefect.py
  examples/slackbot/community_bot/.dockerignore
  examples/slackbot/community_bot/Dockerfile
  examples/slackbot/community_bot/setup.py
  examples/slackbot/simple/Dockerfile.simple
  examples/slackbot/simple/setup.py
  mkdocs.yml
  src/marvin/api/__init__.py
  src/marvin/api/slackbot.py
  src/marvin/cli/server.py
  src/marvin/config.py
  src/marvin/infra/chroma.py
  src/marvin/models/documents.py
  src/marvin/plugins/chroma.py
  src/marvin/plugins/github.py
  src/marvin/server/server.py
  src/marvin/utilities/async_utils.py
  src/marvin/utilities/strings.py
Labels: enhancement, feature

#231 Fix #216 get_id_type regex
  src/marvin/utilities/types.py
Labels: fix

#236 Store llm settings for each bot
  src/marvin/bot/base.py
  src/marvin/cli/cli.py
  src/marvin/infra/alembic/versions/2023_04_01_1739-4d10660798b7_initial_migration.py
  src/marvin/infra/alembic/versions/2023_04_21_1255-62b0e04ac765_store_bot_config_llm_settings.py
  src/marvin/models/bots.py
  src/marvin/utilities/llms.py
Labels: enhancement, fix

#243 Add title_case function for data cleaning that creates a title case you can use
  docs/guide/use_cases/data_cleaning.md
  src/marvin/ai_functions/data.py
  tests/llm_tests/ai_functions/test_data.py
Labels: enhancement

#249 Docs Update loaders_and_documents.md
  docs/guide/concepts/loaders_and_documents.md
Labels: documentation
