Repository PrefectHQ/marvin, pull requests merged in 2025-02, with the labels that each got.

#1050 tweaks
  README.md
  examples/hello_extract.py
  examples/hello_marvin.py
  examples/hello_task.py
  src/marvin/tasks/task.py
Labels: enhancement, feature, example

#1054 Clean up
  README.md
  docs/quickstart.mdx
  src/marvin/agents/actor.py
  src/marvin/fns/run.py
Labels: documentation, enhancement, feature

#1056 more examples
  .github/workflows/run-tests.yml
  examples/english_to_schema.py
  examples/pandas/data.csv
  examples/pandas/dataframe.py
  examples/you_have_been_goosed/goose_em.py
  pyproject.toml
  src/marvin/fns/run.py
  uv.lock
Labels: enhancement, feature, example

#1058 Add support for postgres as backing db
  src/marvin/__init__.py
  src/marvin/database.py
  src/marvin/engine/orchestrator.py
  src/marvin/settings.py
  src/marvin/thread.py
  tests/basic/engine/test_database.py
  tests/conftest.py
  tests/settings/test_settings_object.py
Labels: enhancement, tests

#1061 Update session generation
  src/marvin/database.py
  src/marvin/engine/orchestrator.py
  src/marvin/settings.py
  tests/conftest.py
Labels: enhancement, feature, tests

#1075 update readme
  README.md
Labels: enhancement, feature

#1078 add example
  README.md
  examples/hello_agent.py
  uv.lock
Labels: feature, example
