Repository PrefectHQ/marvin, pull requests merged in 2025-01, with the labels that each got.

#1005 Ensure agents plural arg
  pyproject.toml
  src/marvin/fns/run.py
  tests/ai/fns/test_fn.py
  tests/ai/memory/test_memory.py
Labels: enhancement, feature

#1008 update banner
  .github/workflows/run-tests.yml
  README.md
  docs/assets/img/it_hates_me_hero.png
Labels: documentation, feature

#1015 Handle non-serializable elements of RetryPromptParts
  src/marvin/database.py
Labels: bug

#1017 Add JSONSchema parser
  pyproject.toml
  src/marvin/utilities/jsonschema.py
  tests/basic/utilities/test_jsonschema.py
  uv.lock
Labels: enhancement, feature

#1018 actually ignore extra
  src/marvin/database.py
  src/marvin/fns/cast.py
  src/marvin/fns/classify.py
  src/marvin/fns/extract.py
  src/marvin/fns/generate.py
  src/marvin/fns/run.py
  src/marvin/fns/say.py
  src/marvin/settings.py
  tests/ai/fns/test_cast.py
  tests/basic/test_run.py
  tests/settings/test_settings_object.py
Labels: feature

#1021 Add marvin.summarize
  src/marvin/__init__.py
  src/marvin/fns/summarize.py
Labels: feature

#1022 Improve how instructions are provided to high-level fns
  src/marvin/fns/cast.py
  src/marvin/fns/classify.py
  src/marvin/fns/extract.py
  src/marvin/fns/generate.py
  src/marvin/fns/summarize.py
  src/marvin/templates/task.jinja
  tests/ai/fns/test_cast.py
Labels: enhancement

#1024 Add function for generating schemas
  pyproject.toml
  src/marvin/__init__.py
  src/marvin/fns/generate.py
  src/marvin/utilities/jsonschema.py
  tests/ai/fns/test_generate.py
  tests/basic/utilities/test_jsonschema.py
  uv.lock
Labels: enhancement, feature

#1026 Memories are async classes
  src/marvin/memory/memory.py
  src/marvin/memory/providers/chroma.py
  src/marvin/memory/providers/lance.py
  src/marvin/memory/providers/postgres.py
  src/marvin/utilities/tools.py
  tests/basic/utilities/test_tools.py
Labels: enhancement, feature, breaking change

#1020 typing progress
  .github/workflows/run-tests.yml
  examples/agent_uses_tools.py
  examples/hello_fn.py
  pyproject.toml
  src/marvin/agents/actor.py
  src/marvin/agents/agent.py
  src/marvin/agents/team.py
  src/marvin/engine/end_turn.py
  src/marvin/engine/orchestrator.py
  src/marvin/fns/classify.py
  src/marvin/fns/fn.py
  src/marvin/fns/say.py
  src/marvin/tasks/task.py
  src/marvin/thread.py
  src/marvin/utilities/jinja.py
  src/marvin/utilities/jsonschema.py
  src/marvin/utilities/tools.py
  src/marvin/utilities/types.py
  tests/ai/fns/test_cast.py
  tests/ai/fns/test_extract.py
  tests/ai/fns/test_fn.py
Labels: enhancement, feature, example

#1031 update readme
  docs/welcome.mdx
Labels: documentation, enhancement, feature

#1032 update examples
  docs/functions/cast.mdx
  docs/functions/classify.mdx
  docs/functions/extract.mdx
  docs/functions/generate.mdx
  docs/functions/run.mdx
  docs/functions/say.mdx
  docs/functions/summarize.mdx
  docs/installation.mdx
  docs/patterns/task-results.mdx
  docs/quickstart.mdx
Labels: documentation, enhancement, feature, example

#1028 readme tweaks
  README.md
Labels: documentation

#1030 add Marvin docs
  README.md
  docs/assets/brand/controlflow_banner.png
  docs/assets/brand/controlflow_logo.svg
  docs/assets/brand/controlflow_logo_black_bg.svg
  docs/assets/brand/controlflow_logo_pink.svg
  docs/assets/brand/controlflow_logo_pink_bg.svg
  docs/assets/brand/controlflow_logo_pink_black_bg.svg
  docs/assets/brand/marvin_mascot.jpeg
  docs/assets/img/quotes/ai_model.png
  docs/assets/img/quotes/dont_panic.png
  docs/assets/img/quotes/it_hates_me.png
  docs/assets/img/quotes/life_the_universe_and_ai.png
  docs/assets/img/quotes/pip_install_marvin_hero.png
  docs/assets/img/quotes/sort_of_thing_you_enjoy.png
  docs/community.mdx
  docs/concepts/agents.mdx
  docs/concepts/concepts.mdx
  docs/concepts/tasks.mdx
  docs/concepts/threads.mdx
  docs/functions/cast.mdx
  docs/functions/classify.mdx
  docs/functions/extract.mdx
  docs/functions/generate.mdx
  docs/functions/run.mdx
  docs/functions/say.mdx
  docs/functions/summarize.mdx
  docs/guides/configure-llms.mdx
  docs/installation.mdx
  docs/mint.json
  docs/patterns/instructions.mdx
  docs/patterns/interactivity.mdx
  docs/patterns/memory.mdx
  docs/patterns/running-tasks.mdx
  docs/patterns/task-results.mdx
  docs/patterns/tools.mdx
  docs/quickstart.mdx
  docs/style_guide.md
  docs/welcome.mdx
Labels: documentation

#1034 `AgentDeps` -> `AgentDepsT`
  pyproject.toml
  src/marvin/engine/orchestrator.py
  uv.lock
Labels: fix, upstream

#1029 deepseek example and typing
  README.md
  examples/deepseek_chat.py
  src/marvin/agents/agent.py
  src/marvin/database.py
  src/marvin/defaults.py
  src/marvin/engine/orchestrator.py
  src/marvin/engine/print_handler.py
  src/marvin/settings.py
  src/marvin/tasks/task.py
  src/marvin/thread.py
  src/marvin/utilities/tools.py
  tests/ai/fns/test_extract.py
  tests/ai/fns/test_fn.py
  tests/ai/memory/test_memory.py
  tests/basic/tasks/test_tasks.py
Labels: example

#1036 Refactor agents/teams/end-turn functions
  .cursor/rules/python-style.mdc
  src/marvin/agents/actor.py
  src/marvin/agents/agent.py
  src/marvin/agents/team.py
  src/marvin/engine/end_turn.py
  src/marvin/engine/events.py
  src/marvin/engine/orchestrator.py
  src/marvin/engine/print_handler.py
  src/marvin/fns/run.py
  src/marvin/memory/memory.py
  src/marvin/tasks/task.py
  src/marvin/templates/agent.jinja
  src/marvin/templates/memory.jinja
  src/marvin/templates/orchestrator.jinja
  src/marvin/templates/task.jinja
  src/marvin/templates/team.jinja
  src/marvin/thread.py
  src/marvin/utilities/logging.py
  src/marvin/utilities/tools.py
  src/marvin/utilities/types.py
  tests/basic/tasks/test_tasks.py
Labels: enhancement, feature, breaking change, tests

#1039 Readme for 3.0
  README.md
Labels: enhancement, feature, breaking change

#1042 totally normal 🪿 server example
  examples/you_have_been_goosed/README.md
  examples/you_have_been_goosed/goose_em.py
Labels: enhancement, feature, example

#1045 remove extraneous thread module
  src/marvin/threads/__init__.py
  src/marvin/threads/thread.py
Labels: breaking change, ignore in release notes

#1046 Add planning
  README.md
  docs/concepts/tasks.mdx
  docs/functions/plan.mdx
  src/marvin/__init__.py
  src/marvin/agents/actor.py
  src/marvin/agents/agent.py
  src/marvin/agents/team.py
  src/marvin/engine/end_turn.py
  src/marvin/fns/plan.py
  src/marvin/tasks/task.py
  src/marvin/utilities/tools.py
  tests/basic/utilities/test_tools.py
Labels: documentation, enhancement, feature, tests
