Repository PrefectHQ/marvin, pull requests merged in 2025-03, with the labels that each got.

#1081 Stream responses token-by-token
  pyproject.toml
  src/marvin/agents/actor.py
  src/marvin/agents/agent.py
  src/marvin/agents/team.py
  src/marvin/engine/end_turn.py
  src/marvin/engine/events.py
  src/marvin/engine/handlers.py
  src/marvin/engine/llm.py
  src/marvin/engine/orchestrator.py
  src/marvin/engine/print_handler.py
  src/marvin/engine/streaming.py
  src/marvin/fns/cast.py
  src/marvin/fns/classify.py
  src/marvin/fns/extract.py
  src/marvin/fns/fn.py
  src/marvin/fns/generate.py
  src/marvin/fns/plan.py
  src/marvin/fns/say.py
  src/marvin/fns/summarize.py
  src/marvin/settings.py
  src/marvin/tools/interactive/cli.py
  uv.lock
Labels: enhancement, feature

#1082 Add docs
  docs-plan.md
  docs/README.md
  docs/concepts/agents.mdx
  docs/concepts/memory.mdx
  docs/concepts/tasks.mdx
  docs/concepts/teams.mdx
  docs/concepts/threads.mdx
  docs/concepts/tools-and-context.mdx
  docs/functions/fn.mdx
  docs/guides/building-a-chatbot.mdx
  docs/guides/configuration.mdx
  docs/guides/migration-guide.mdx
  docs/guides/multi-step-workflow.mdx
Labels: documentation, enhancement, feature

#1083 Add full support for automatic/manual db migrations
  alembic.ini
  docs/guides/cli.mdx
  docs/guides/database-migrations.mdx
  migrations/README.md
  migrations/env.py
  migrations/script.py.mako
  migrations/versions/20250301_141903_initial_schema.py
  pyproject.toml
  src/marvin/__init__.py
  src/marvin/cli/main.py
  src/marvin/cli/migrations.py
  src/marvin/database.py
  src/marvin/settings.py
  src/marvin/utilities/logging.py
  tests/basic/engine/test_database.py
  tests/conftest.py
Labels: documentation, enhancement, feature, tests

#1084 Clean up orchestrator error handling
  src/marvin/engine/events.py
  src/marvin/engine/handlers.py
  src/marvin/engine/orchestrator.py
  src/marvin/engine/print_handler.py
Labels: feature, breaking change

#1086 Add verbosity controls for adding info messages
  src/marvin/agents/__init__.py
  src/marvin/agents/actor.py
  src/marvin/agents/team.py
  src/marvin/engine/end_turn.py
  src/marvin/engine/orchestrator.py
  src/marvin/tasks/task.py
  src/marvin/thread.py
  tests/basic/actors/__init__.py
  tests/basic/actors/test_agent.py
  tests/basic/actors/test_team.py
  tests/basic/tasks/test_tasks.py
Labels: enhancement, feature, tests

#1089 Add LLM Call tracking
  .github/labeler.yml
  README.md
  alembic.ini
  docs/concepts/memory.mdx
  docs/guides/configuration.mdx
  docs/guides/migration-guide.mdx
  migrations/README.md
  migrations/env.py
  migrations/versions/20250302_123716_improve_message_tracking.py
  migrations/versions/20250302_135101_add_llmcall_message_tracking.py
  pyproject.toml
  src/marvin/agents/agent.py
  src/marvin/cli/migrations.py
  src/marvin/database.py
  src/marvin/engine/end_turn.py
  src/marvin/engine/llm.py
  src/marvin/engine/orchestrator.py
  src/marvin/engine/print_handler.py
  src/marvin/engine/streaming.py
  src/marvin/fns/fn.py
  src/marvin/models/__init__.py
  src/marvin/prompts.py
  src/marvin/settings.py
  src/marvin/tasks/task.py
  src/marvin/templates/agent.jinja
  src/marvin/templates/system.jinja
  src/marvin/templates/team.jinja
  src/marvin/thread.py
  tests/ai/fns/test_classify.py
  tests/ai/fns/test_fn.py
  tests/ai/fns/test_generate.py
  tests/ai/fns/test_say.py
  tests/ai/memory/test_memory.py
  tests/basic/actors/test_agent.py
  tests/basic/actors/test_team.py
  tests/basic/engine/test_database.py
  tests/basic/engine/test_threads.py
  tests/basic/tasks/test_tasks.py
  tests/conftest.py
  tests/settings/test_settings_object.py
  uv.lock
Labels: documentation, enhancement, feature, tests

#1090 Start event tests
  tests/basic/engine/test_events.py
  tests/conftest.py
Labels: feature, tests

#1091 Add support for user content / images / audio / binary
  src/marvin/engine/llm.py
  src/marvin/fns/run.py
  src/marvin/fns/say.py
  src/marvin/tasks/task.py
  src/marvin/thread.py
  tests/ai/fns/test_run.py
  tests/ai/tasks/__init__.py
  tests/ai/tasks/test_tasks.py
  tests/basic/tasks/test_tasks.py
  uv.lock
Labels: enhancement, feature, tests

#1095 Improve error handling for handlers
  src/marvin/agents/agent.py
  src/marvin/engine/handlers.py
  src/marvin/engine/orchestrator.py
  src/marvin/engine/print_handler.py
Labels: enhancement, feature

#1099 Add streaming run functions
  pyproject.toml
  src/marvin/__init__.py
  src/marvin/agents/actor.py
  src/marvin/agents/agent.py
  src/marvin/engine/orchestrator.py
  src/marvin/fns/run.py
  src/marvin/handlers/__init__.py
  src/marvin/handlers/handlers.py
  src/marvin/handlers/print_handler.py
  src/marvin/handlers/queue_handler.py
  src/marvin/tasks/task.py
  tests/ai/fns/test_run.py
  tests/basic/conftest.py
  tests/basic/engine/test_events.py
  tests/conftest.py
  uv.lock
Labels: feature, tests

#1101 forgot `classify` readme example
  README.md
Labels: feature, example
