Repository PrefectHQ/marvin, pull requests merged in 2025-08, with the labels that each got.

#1185 temp
  examples/slackbot/src/slackbot/settings.py
Labels: example

#1183 Update Chroma memory provider for Chroma Cloud
  docs/patterns/memory.mdx
  pyproject.toml
Labels: documentation

#1190 fix tpuf import
  examples/slackbot/src/slackbot/core.py
  uv.lock
Labels: example

#1196 test tool limiting
  examples/slackbot/src/slackbot/api.py
  examples/slackbot/src/slackbot/settings.py
  examples/slackbot/src/slackbot/wrap.py
Labels: example

#1204 Update Slackbot documentation to reflect current implementation
  examples/slackbot/CLAUDE.md
  examples/slackbot/README.md
  examples/slackbot/src/slackbot/_internal/__init__.py
  examples/slackbot/src/slackbot/_internal/monkey_patch.py
  examples/slackbot/src/slackbot/_internal/templates.py
  examples/slackbot/src/slackbot/_internal/tool_tracking.py
  examples/slackbot/src/slackbot/api.py
  examples/slackbot/src/slackbot/core.py
  examples/slackbot/src/slackbot/prompts.py
  examples/slackbot/src/slackbot/wrap.py
  uv.lock
Labels: example

#1209 designated channel
  examples/slackbot/README.md
  examples/slackbot/src/slackbot/_internal/constants.py
  examples/slackbot/src/slackbot/_internal/templates.py
  examples/slackbot/src/slackbot/api.py
Labels: example

#1210 nerf marvin personality
  examples/slackbot/src/slackbot/_internal/templates.py
Labels: example

#1211 remove channel restriction
  examples/slackbot/src/slackbot/_internal/constants.py
Labels: example

#1214 Add static "Researching your answer..." text
  examples/slackbot/src/slackbot/_internal/tool_tracking.py
Labels: enhancement, example

#1223 Modernize codebase for Python 3.10+
  CLAUDE.md
  docs/api-reference/marvin-agents-actor.mdx
  docs/api-reference/marvin-engine-orchestrator.mdx
  docs/api-reference/marvin-thread.mdx
  docs/api-reference/marvin-utilities-jsonschema.mdx
  docs/api-reference/marvin-utilities-types.mdx
  src/marvin/_internal/deprecation.py
  src/marvin/agents/actor.py
  src/marvin/engine/orchestrator.py
  src/marvin/memory/providers/postgres.py
  src/marvin/tasks/task.py
  src/marvin/thread.py
  src/marvin/utilities/jsonschema.py
  src/marvin/utilities/types.py
Labels: documentation
